In [4]:
print "Hello world!"

Hello world!

# Geting Started with graphlab

In [5]:
import graphlab
graphlab.product_key.set_product_key('45F2-BB0F-9DD8-F50B-8666-B2EF-7DD1-0B91')
graphlab.product_key.get_product_key()

'45F2-BB0F-9DD8-F50B-8666-B2EF-7DD1-0B91'

# load a tablular data set

In [6]:
p = graphlab.SFrame("people-example.csv")

/opt/conda/lib/python2.7/site-packages/requests/packages/urllib3/connection.py:266: SubjectAltNameWarning: Certificate for beta.graphlab.com has no `subjectAltName`, falling back to check for a `commonName` for now. This feature is being removed by major browsers and deprecated by RFC 2818. (See https://github.com/shazow/urllib3/issues/497 for details.)
  SubjectAltNameWarning
2016-09-29 02:06:25,489 [INFO] graphlab.cython.cy_server, 176: GraphLab Create v1.9 started. Logging: /tmp/graphlab_server_1475114785.log

This non-commercial license of GraphLab Create for academic use is assigned to mlmbt@yahoo.com and will expire on June 30, 2017.

Finished parsing file /home/jovyan/work/Week 1/people-example.csv

Parsing completed. Parsed 7 lines in 0.017955 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/jovyan/work/Week 1/people-example.csv

Parsing completed. Parsed 7 lines in 0.016697 secs.

In [13]:
print p

+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [8]:
p["Last Name"]

dtype: str
Rows: 7
['Smith', 'Williams', 'Jone', 'Brown', 'Cooper', 'Campbell', 'Ward']

In [9]:
p["Country"]

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [10]:
p['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [11]:
p

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [14]:
p('age'==23)

TypeError: 'SFrame' object is not callable